<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-xl-12 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <form class="form-search">
                                <!-- hàng 1 -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group align-self-center">
                                            <span>Mã</span>
                                            <input type="text" name="ma" class="form-control"
                                                [(ngModel)]="optionRequest.optionMa">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group align-self-center">
                                            <span>Tên</span>
                                            <input type="text" name="ten" class="form-control"
                                                [(ngModel)]="optionRequest.optionTen">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <button type="button" class="btn btn-bidv btn-search mt-2" (click)="search()"><i
                                            class="fa fa-search fa-btn"></i>
                                        Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div>
                        <h3 class="mb-0">Danh sách sản phẩm</h3>
                    </div>
                    <div style="float: right;"><button (click)="openModal(Action.THEMMOI)"
                            class="btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Thêm
                            mới</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã Option</th>
                                <th scope="col">Tên Option</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of pageOption?.content | paginate: { id: 'lst-option',
                            itemsPerPage: pageOption?.size,
                            currentPage: pageOption?.number,
                            totalItems: pageOption?.totalElements }; index as i">
                            <tr>
                                <td>{{i+1}}</td>
                                <td><span class="link-text" (click)="view(item?.id)">{{item?.optionCode}}</span></td>
                                <td>{{item?.optionName}}</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        {{setStatus(item?.status)}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <div class="text-left col-6 ">{{'Tổng số bản ghi: '+ (pageOption?.totalElements ?
                        pageOption?.totalElements : 0)}}
                        &nbsp;&nbsp;&nbsp;&nbsp;Số bản ghi hiển thị:
                        <select class="custom-select " style="width: 60px; " (change)="handlePageSizeChange($event) ">
                            <option *ngFor="let pageSize of pageSizes " [ngValue]="pagesRequest?.size ">
                                {{ pageSize }}
                            </option>
                        </select>
                    </div>
                    <div class="text-right">
                        <pagination-controls id="lst-option" previousLabel="Prev " nextLabel="Next "
                            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            (pageChange)="handlePageChange($event) ">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal #myModal>
    <modal-header>
        <h4 *ngIf="action == Action.THEMMOI">Thêm mới Option</h4>
        <h4 *ngIf="action == Action.CAPNHAT">Cập nhật Option</h4>
    </modal-header>
    <modal-content>
        <form [formGroup]="formGroup">
            <fieldset formGroupName="option">
          
                <div class="form-group">
                    <label for="ma">Mã Option</label>
                    <input type="text" class="form-control" [(ngModel)]="option.optionCode" formControlName="code">
                    <div class="validation-alert"
                        *ngIf="isFormSubmit && formGroup.get('option')['controls']['code'].errors?.['required']">
                        Không được để trống!
                    </div>
                </div>
                <div class="form-group">
                    <label for="ten">Tên Option</label>
                    <input type="text" class="form-control" [(ngModel)]="option.optionName" formControlName="name">
                    <div class="validation-alert"
                        *ngIf="isFormSubmit &&  formGroup.get('option')['controls']['name'].errors?.['required']">
                        Không được để trống!
                    </div>
                </div>
                <div class="form-group">
                    <label for="trangThai">Trạng Thái</label>
                    <ng-select [items]="lstTrangThai" formControlName="status"  bindLabel="name" [(ngModel)]="option.status">
                    </ng-select>
                    <div class="validation-alert"
                        *ngIf="isFormSubmit &&  formGroup.get('option')['controls']['status'].errors?.['required']" >
                        Không được để trống!
                    </div>
                </div>
                <img src="" alt="">
            </fieldset>
            <table style="width:100%; margin: 0px auto"  class="table table-bordered">
                <thead style="background-color: #027db4; color: white;">
                    <tr>
                        <td style="width:1%" class="text-center">STT</td>
                        <td style="width:15%" class="text-center">Option value</td>
                        <!-- <td style="width:13%" class="text-center">Đối tác thanh toán</td> -->

                        <td style="width:1%" class="text-center"><span (click)="addRow()"><i alt="Thêm mới"
                                    style="cursor: pointer;" class="fas fa-plus-circle" title="Thêm dòng"></i></span>
                        </td>
                    </tr>
                </thead>
                <!-- <ng-container formGroupName="DnvtHosoUyquyen"> -->
                <tbody formArrayName="listOptinValue" *ngFor="let item of option?.listOptionValue, index as i">
                    <tr [formGroupName]="i">
                        <td style="width:1%">{{i+1}}</td>
                        <td style="width:15%">
                            <input formControlName="optionValue" type="text" class="form-control"
                                [(ngModel)]="item.optionValue">
                        </td>
                        <td style="width:1%"><span (click)="removeRow(i)"><i style="cursor: pointer;"
                            title="Xóa dòng" class="fas fa-trash"></i></span></td>
                </tbody>
                <!-- </ng-container> -->
            </table>
        </form>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="save()"><i class="fa fa-file" aria-hidden="true"></i> Save</button>
        <button class="btn btn-primary" (click)="delete()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        <button class="btn btn-primary" (click)="closeModal()"><i class="fa fa-times" aria-hidden="true"></i>
            Close</button>
    </modal-footer>
</modal>