<!-- <div class="container" style="margin-top:110px">
    <nav class="d-flex align-items-center">
        <a href="/home" style="color: #00483d;">Trang chủ <span class="lnr lnr-arrow-right"></span>&nbsp;</a>
        <a href="/home" style="color: #00483d;">Tài khoản <span class="lnr lnr-arrow-right"></span>&nbsp;</a>
        <a href="#" style="color: #00483d;"> Đăng ký</a>
    </nav>
</div> -->
<!-- <div class="container" style="margin-top:120px">
    <nav aria-label="breadcrumb" class="d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/home">Tài khoản</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
        </ol>
    </nav>
</div> -->
<!-- <div class="login row">
    <div class="col-md-3"></div>
    <div class="col-lg-6">
        
    </div>
    <div class="col-md-3"></div>
</div> -->
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="row">
                    <div class="col-md-12 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Nhập tên tài khoản!">
                                <nz-input-group nzPrefixIcon="user">
                                    <input type="text" nz-input formControlName="userName" class="form-control"
                                        placeholder="Tên đăng nhập" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <br />
                        <span class="text-danger">{{msg2}}</span>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Nhập email!">
                                <input type="text" nz-input formControlName="email" placeholder="Email"
                                    class="form-control" />
                            </nz-form-control>
                        </nz-form-item>
                        <br />
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Nhập số điện thoại!">
                                <input type="number" nz-input formControlName="phone" placeholder="Số điện thoại"
                                    class="form-control" />
                            </nz-form-control>
                        </nz-form-item>
                        <br />
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Nhập mật khẩu!">
                                <nz-input-group nzPrefixIcon="lock">
                                    <input type="password" nz-input formControlName="password" placeholder="Mật khẩu"
                                        class="form-control" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <br />
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Nhập mật khẩu!">
                                <nz-input-group nzPrefixIcon="lock">
                                    <input (keyup)="validPass($event)" type="password" nz-input
                                        formControlName="clonePassword" placeholder=" Xác nhận mật khẩu"
                                        class="form-control" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <br />
                        <span class="text-danger">{{msg1}}</span>
                        <div class="login-mail" href="#">
                            <label class="checkbox1">
                                <input (click)="confirm = !confirm" type="checkbox" class="form-control"
                                    name="checkbox"><i>
                                </i>Tôi đồng ý với các điều
                                khoản.</label>
                            <span class="text-danger">{{msg}}</span>
                            <fieldset disabled>
                                <label for="disabledTextInput">Điều khoản tại website Lapware</label>
                                <textarea type="text" id="disabledTextInput" class="form-control" rows="5"
                                    placeholder="">* Mua hàng tại Lapware sẽ không được đổi trả khi sản phẩm bị hư hỏng do bạn làm rơi.* Bạn hãy chắc địa chỉ bạn gửi là đúng.* Sau 3 ngày không chuyển khoản, đơn hàng sẽ xóa.</textarea>
                            </fieldset>
                        </div>
                        <br />
                        <nz-form-item class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Đăng ký</button>
                            </div>
                            <div class="col-md-4"></div>
                        </nz-form-item>
                        <nz-form-item class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                Bạn chưa có tài khoản ?
                                <a href="/login">Đăng nhập</a>
                            </div>
                            <div class="col-md-6"></div>
                        </nz-form-item>
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
</div>