<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <form class="form-search">
                <!-- hàng 1 -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Mã</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Từ ngày</span>
                      <input type="date" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Đến ngày</span>
                      <input type="date" class="form-control">
                    </div>
                  </div>
                </div>

                <!-- hàng 2 -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-bidv btn-search mt-2"><i class="fa fa-search fa-btn"></i>
                    Tìm kiếm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div>
            <h3 class="mb-0">Danh sách voucher</h3>
          </div>
          <div style="float: right;"><button (click)="openModal(Action.THEMMOI)" class="btn btn-sm btn-success">Thêm
              mới</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đã dùng</th>
                <th scope="col">Giảm giá</th>
                <th scope="col">Loại</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of pageRam?.content | paginate: { id: 'lst-option',
                            itemsPerPage: pageRam?.size,
                            currentPage: pageRam?.number,
                            totalItems: pageRam?.totalElements }; index as i">
              <tr>
                <td>{{i+1}}</td>
                <td><span class="link-text" (click)="view(item?.id)">{{item?.code}}</span></td>
                <td>{{item?.dateFrom | date : 'dd/MM/yyyy'}}</td>
                <td>{{item?.dateTo | date : 'dd/MM/yyyy'}}</td>
                <td>{{item?.quantity}}</td>
                <td>{{item?.count}}</td>
                <td>{{item?.value}}</td>
                <td>{{item?.type=='0'?'%':'VNĐ'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <div class="text-left col-6 ">{{'Tổng số bản ghi: '+ (pageRam?.totalElements ?
            pageRam?.totalElements : 0)}}
            &nbsp;&nbsp;&nbsp;&nbsp;Số bản ghi hiển thị:
            <select class="custom-select " style="width: 60px; " (change)="handlePageSizeChange($event) ">
              <option *ngFor="let pageSize of pageSizes " [ngValue]="pagesRequest?.size ">
                {{ pageSize }}
              </option>
            </select>
          </div>
          <div class="text-right">
            <pagination-controls id="lst-option" previousLabel="Prev " nextLabel="Next "
              screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              (pageChange)="handlePageChange($event) ">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Thêm mới--->

<!-- <ng-template #modalThemMoi let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Thêm mới sản phẩm</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        Hello world
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" aria-label="Close" (click)="modal.dismiss()">Đóng</button>
    </div>
  </ng-template> -->


<modal #myModal>
  <modal-header>
    <h4 *ngIf="action == Action.THEMMOI">Thêm mới sản phẩm</h4>
    <h4 *ngIf="action == Action.CAPNHAT">Cập nhật cập nhật sản phẩm</h4>
    <!-- <h4 *ngIf="action === 2">Thông Tin danh mục thông tin đại diện kho bạc đơn vị</h4> -->
  </modal-header>
  <modal-content>
    <form [formGroup]="formGroup">
      <fieldset formGroupName="promotion">
        <div class="form-group">
          <label for="ma">Mã</label>
          <input type="text" class="form-control" formControlName="code" [(ngModel)]="promotion.code">
        </div>
        <div class="form-group">
          <label for="ten">Loai</label>
          <select class="form-control" formControlName="type" [(ngModel)]="promotion.type">
            <option value="0">%</option>
            <option value="1">VND</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ten">Giá trị</label>
          <input type="text" class="form-control" formControlName="value" [(ngModel)]="promotion.value">
        </div>
        <div class="form-group">
          <label for="ten">Ngày bắt đầu</label>
          <input type="date" class="form-control" formControlName="dateFrom" [(ngModel)]="promotion.dateFrom">
        </div>
        <div class="form-group">
          <label for="ten">Ngày kết thúc</label>
          <input type="date" class="form-control" formControlName="dateTo" [(ngModel)]="promotion.dateTo">
        </div>
        <div class="form-group">
          <label for="ten">Số lượng</label>
          <input type="text" class="form-control" formControlName="quantity" [(ngModel)]="promotion.quantity">
        </div>
      </fieldset>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="save()">Lưu</button>
    <button class="btn btn-primary" (click)="closeModal()">close</button>
  </modal-footer>
</modal>