<div class="container" style="margin-top:120px">
    <nav aria-label="breadcrumb" class="d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/products">Sản phẩm</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li> -->
        </ol>
    </nav>
</div>
<div class=" mt-4 container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5 single-product">
            <div class="sidebar-filter" style="padding-top:-30px !important;">
                <div class="top-filter-head single-product header-loc">Lọc sản phẩm</div>
                <div class="common-filter">
                    <div class="head">Danh mục sản phẩm</div>
                    <ul>
                        <li *ngFor="let item of listOfProduct" class="filter-list">
                            <input class="pixel-radio" type="checkbox" (click)="filterByBrand(item?.id,$event)" id="product"
                                name="product"><label for="apple"><a>
                                    {{item?.tenSanPham}}
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <!-- <ng-select [items]="listOfBrand" [clearable]="false" bindLabel="tenHang">
                    </ng-select> -->
                    <span class="filter-header">
                        Brands
                    </span>
                    <ul class="filter-list">
                        <li *ngFor="let e of listOfBrand" class="filter-list">
                            <input class="pixel-radio" type="checkbox" id="brand" name="brand"
                                (click)="filterByBrand(e?.id,$event)">
                            <label for="apple"><a>{{e?.tenHang}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <!-- <ng-select [items]="listOfBrand" [clearable]="false" bindLabel="tenHang">
                    </ng-select> -->
                    <span class="filter-header">
                        Ram
                    </span>
                    <ul class="filter-list">
                        <li *ngFor="let e of listOfRam" class="filter-list">
                            <input class="pixel-radio" type="checkbox" id="ram" name="ram"
                                (click)="filterByBrand(e?.id,$event)">
                            <label for="apple"><a>{{e?.ram}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <!-- <ng-select [items]="listOfBrand" [clearable]="false" bindLabel="tenHang">
                    </ng-select> -->
                    <span class="filter-header">
                        Rom
                    </span>
                    <ul class="filter-list">
                        <li *ngFor="let e of listOfRom" class="filter-list">
                            <input class="pixel-radio" type="checkbox" id="rom" name="rom"
                                (click)="filterByBrand(e?.id,$event)">
                            <label for="apple"><a>{{e?.rom}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <!-- <ng-select [items]="listOfBrand" [clearable]="false" bindLabel="tenHang">
                    </ng-select> -->
                    <span class="filter-header">
                        Cpu
                    </span>
                    <ul class="filter-list">
                        <li *ngFor="let e of listOfCpu" class="filter-list">
                            <input class="pixel-radio" type="checkbox" id="cpu" name="cpu"
                                (click)="filterByBrand(e?.id,$event)">
                            <label for="apple"><a>{{e?.cpu}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <!-- <ng-select [items]="listOfBrand" [clearable]="false" bindLabel="tenHang">
                    </ng-select> -->
                    <span class="filter-header">
                        Gpu
                    </span>
                    <ul class="filter-list">
                        <li *ngFor="let e of listOfGpu" class="filter-list">
                            <input class="pixel-radio" type="checkbox" id="gpu" name="gpu"
                                (click)="filterByBrand(e?.id,$event)">
                            <label for="apple"><a>{{e?.gpu}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box">
                    <ul class="filter-list">
                        <li>
                            <div class="group-checkbox">
                                <input type="checkbox" id="remember1" checked="checked">
                                <label for="remember1">
                                    JBL
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="group-checkbox">
                                <input type="checkbox" id="remember2">
                                <label for="remember2">
                                    Beat
                                    <i class='bx bx-check'></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="group-checkbox">
                                <input type="checkbox" id="remember3">
                                <label for="remember3">
                                    Logitech
                                    <i class='bx bx-check'></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="group-checkbox">
                                <input type="checkbox" id="remember4">
                                <label for="remember4">
                                    Samsung
                                    <i class='bx bx-check'></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="group-checkbox">
                                <input type="checkbox" id="remember5">
                                <label for="remember5">
                                    Sony
                                    <i class='bx bx-check'></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div> -->
                <!-- <div class="common-filter" *ngFor="let item of listOfOption">
                    <<div class="head">{{item.optionName}}</div> 
                </div> -->
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center row loc-2">
                <div class="sorting col-md-4" style="display:flex;">
                    <b class="text-white pr-2">Lọc theo</b>
                    <nz-select ngModel="{{status}}" (ngModelChange)="changeStatus($event)" style="width:150px;">
                        <nz-option nzValue="default" nzLabel="Mặc định"></nz-option>
                        <nz-option nzValue="p-des" nzLabel="Giá giảm dần"></nz-option>
                        <nz-option nzValue="p-asc" nzLabel="Giá tăng dần"></nz-option>
                    </nz-select>
                </div>
                <div class="col-md-4">
                    <b style="color: #fff;">Khoảng Giá
                        (0 - 100,000,000):</b>
                </div>
                <div class="col-md-3">
                    <nz-slider nzRange [(ngModel)]="price" [nzMin]="0" [nzMax]="100000000" [nzStep]="1000000"
                        (nzOnAfterChange)="priceChange($event)"></nz-slider>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <div class="lattest-product-area pb-40 category-list">
                <div class="mid-popular row" id="content_value">
                    <div *ngFor="let item of listOfData" class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <div class="text-center">
                                <ng-image-slider #nav [images]="item?.product?.listImage" [infinite]="true"
                                    [autoSlide]="1" slideImage="1" [imageSize]="{width: '100%', height: auto}">
                                </ng-image-slider>
                            </div>
                            <div class="product-details">
                                <h6><a href="product-detail/{{item?.id}}">{{item?.productName}}</a></h6>
                                <div class="price">
                                    <h6>{{item.productPrice | number}} VNĐ &emsp;<small>{{item?.productMarketprice |
                                            number}} VND</small></h6>
                                    <span *ngIf="item?.quantity == 0 " class="text-danger">Đã hết hàng</span>
                                </div>
                                <div class="prd-bottom">
                                    <a *ngIf="item.quantity > 0 " (click)="addToCart(item)" class="social-info">
                                        <span class="ti-shopping-cart"></span>
                                        <p class="hover-text">Thêm vào giỏ</p>
                                    </a>
                                    <a href="" (click)="addToCompare(item)" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">So sánh</p>
                                    </a>
                                    <a href="product-detail/{{item?.id}}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem thêm</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Best Seller -->

            <div class="row mb-5">
                <div class="col-md-8">
                    <h4>Số lượng sản phẩm: {{totalProduct}} sản phẩm </h4>
                </div>
                <div class="col-md-4 mx-auto">
                    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalProduct" nzShowSizeChanger
                        [nzPageSize]="pageSize" (nzPageIndexChange)="onPageIndexChange($event)"
                        (nzPageSizeChange)="onPageSizeChange($event)">
                    </nz-pagination>
                </div>
            </div>


        </div>


    </div>
</div>