<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <form class="form-search">
                <!-- hàng 1 -->
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Mã Bill</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Tên khách hàng</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Đơn giá từ</span>
                      <input type="number" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Đơn giá đến</span>
                      <input type="number" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group align-self-center">
                      <span>Từ ngày</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group align-self-center">
                      <span>Đến ngày</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <!-- hàng 2 -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-bidv btn-search mt-2"><i class="fa fa-search fa-btn"></i>
                    Tìm kiếm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div class="card-header border-0">
          <div>
            <h3 class="mb-0">Danh sách Users</h3>
          </div>
          <div style="float: right;">
            <!-- <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
              [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)">
              <thead>
                <tr>
                  <th style="text-align: center;">STT</th>
                  <th nzColumnKey="userID" [nzSortFn]="true" style="text-align: center;">Mã KH</th>
                  <th style="text-align: center;">Tên</th>
                  <th style="text-align: center;">Pass</th>
                  <th style="text-align: center;">Email</th>
                  <th style="text-align: center;">Phone</th>
                  <th style=" display: flex; justify-content: space-around; align-items: center;"> <span>Thao tác</span>
                    <a (click)="showModal(null,'INSERT')" title="Thêm mới"><i style="font-size: 20px;" nz-icon
                        nzType="plus-circle" nzTheme="twotone"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of listOfData; ; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{data.userID}}</td>
                  <td>{{data.userName}}</td>
                  <td>{{data.userPass}}</td>
                  <td>{{data.userEmail}}</td>
                  <td>{{data.userPhone}}</td>
                  <td>
                    <button (click)="showModal(data.userID,'EDIT')" class="m-5" nz-button nzType="default">Sửa</button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button (click)="delUser(data.userID)" class="m-5" nz-button nzType="primary" nzDanger>Xóa</button>
                    <nz-divider nzType="vertical"></nz-divider>
                  </td>
                </tr>
              </tbody>
            </nz-table> -->
          </div>
        </div>
      </div>
    </div>
  </div>