<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <form class="form-search">
                <!-- hàng 1 -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Danh mục sản phẩm</span>
                      <ng-select [items]="listBrand" bindLabel="tenHang" bindValue="id"></ng-select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Mã sản phẩm</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group align-self-center">
                      <span>Tên sản phẩm</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <!-- hàng 2 -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-bidv btn-search mt-2"><i class="fa fa-search fa-btn"></i>
                    Tìm kiếm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div>
            <h3 class="mb-0">Danh sách sản phẩm</h3>
          </div>
          <div style="float: right;"><button (click)="openModal(Action.THEMMOI)" class="btn btn-sm btn-success">Thêm
              mới</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Status</th>
                <th scope="col">Mô tả</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of pageProduct?.content | paginate: { id: 'lst-product',
                itemsPerPage: pageProduct?.size,
                currentPage: pageProduct?.number,
                totalItems: pageProduct?.totalElements }; index as i">
              <tr>
                <td>{{i+1}}</td>
                <td>{{item?.maSanPham}}</td>
                <td><span class="link-text" (click)="view(item?.id)">{{item?.tenSanPham}}</span></td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Thêm mới--->
<!-- <ng-template #modalThemMoi let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thêm mới sản phẩm</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      Hello world
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" aria-label="Close" (click)="modal.dismiss()">Đóng</button>
  </div>
</ng-template> -->
<modal #myModal>
  <modal-header>
    <h4 *ngIf="action == Action.THEMMOI">Thêm mới sản phẩm</h4>
    <h4 *ngIf="action == Action.CAPNHAT">Cập nhật cập nhật sản phẩm</h4>
    <!-- <h4 *ngIf="action === 2">Thông Tin danh mục thông tin đại diện kho bạc đơn vị</h4> -->
  </modal-header>
  <modal-content>
    <form [formGroup]="formGroup">
      <fieldset formGroupName="product">
        <div class="form-group">
          <label for="ma">Mã sản phẩm</label>
          <input type="text" class="form-control" [(ngModel)]="product.maSanPham" formControlName="code">
        </div>
        <div class="form-group">
          <label for="ten">Tên sản phẩm</label>
          <input type="text" class="form-control" [(ngModel)]="product.tenSanPham" formControlName="name">
        </div>
        <div class="form-group">
          <label for="trangThai">Thương hiệu</label>
          <ng-select [items]="listBrand" class="custom-ng-select" bindLabel="tenHang" formControlName="brand"
            [(ngModel)]="product.brand">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="trangThai">Trạng Thái</label>
          <ng-select [items]="lstTrangThai" class="custom-ng-select" bindLabel="name" bindValue="value" formControlName="status"
            name="status">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="danhMuc">Option</label>
          <ng-select [items]="lstOption | async" class="custom-ng-select" bindLabel="optionName" name="optionName" formControlName="option"
            name="option" [multiple]="true" [hideSelected]="true" [loading]="loadlstOption"
            [typeahead]=" textInput_tenOption$" [(ngModel)]="listOption">
          </ng-select>
        </div>
      </fieldset>
      <div class="form-group">
        <!-- <img [src]="linkImage" alt="..." class="img-thumbnail">
      <img src="" alt=""> -->
        <label for="image">Ảnh sản phẩm</label>
        <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1" slideImage="1"
          [imageSize]="{width: '100%', height: 400}"></ng-image-slider>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" width="1%">#</th>
            <th scope="col" width="40px">Link ảnh</th>
            <!-- <th scope="col" width="40px">Giá trị</th> -->
            <td style="width:1%" class="text-center"><span (click)="addRow()"><i alt="Thêm mới" style="cursor: pointer;"
                  class="fas fa-plus-circle" title="Thêm dòng"></i></span>
          </tr>
        </thead>
        <tbody formArrayName="listImage" *ngFor="let item of product?.listImage, index as i">
          <tr [formGroupName]="i">
            <td>{{i+1}}</td>
            <td><input formControlName="thumbImage" type="text" class="form-control" [(ngModel)]="item.thumbImage"
                (blur)="convertImage()"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="save()">Lưu</button>
    <button class="btn btn-primary" (click)="closeModal()">close</button>
  </modal-footer>
</modal>