// .ng-dropdown-panel{
//     background-color: #fff !important;
//     margin-top: -50px !important;
//     margin-left: -10px !important;
//     border: 1px solid #00483d;
// }
span.detail{
color:blue;
}
span.detail:hover{
cursor: pointer !important;
text-decoration: underline;
}
/* @import "../node_modules/font-awesome/scss/font-awesome.scss"; */


