.ni{
    font-size: large;
}


hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

}

.money{
    border: none !important;
}

input:focus{
    outline: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    outline: none !important;
    border: none !important;
}

