<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <form class="form-search">
                <!-- hàng 1 -->
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Mã Bill</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Tên khách hàng</span>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Đơn giá từ</span>
                      <input type="number" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group align-self-center">
                      <span>Đơn giá đến</span>
                      <input type="number" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group align-self-center">
                      <span>Từ ngày</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group align-self-center">
                      <span>Đến ngày</span>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <!-- hàng 2 -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-bidv btn-search mt-2"><i class="fa fa-search fa-btn"></i>
                    Tìm kiếm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div class="card-header border-0">
          <div>
            <h3 class="mb-0">Danh sách Đơn hàng</h3>
          </div>
          <div style="float: right;"><button (click)="openModal(Action.THEMMOI)" class="btn btn-sm btn-success">Thêm
              mới</button>
          </div>
        </div>
        <nz-table class="table table-bordered table-striped table-hover mr-0" nzShowSizeChanger [nzData]="listOfData"
          [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
          <thead>
            <tr>
              <th nzColumnKey="id" [nzSortFn]="true" style="text-align: center;">Mã Bill</th>
              <th style="text-align: center;">Tên</th>
              <th nzColumnKey="total" [nzSortFn]="true" style="text-align: center;">Tổng hóa đơn</th>
              <th style="text-align: center;">Thanh toán</th>
              <th nzColumnKey="date" [nzSortFn]="true" style="text-align: center;">Ngày bán</th>
              <th style="text-align: center;">Địa chỉ</th>
              <th style="text-align: center;">Tình trạng</th>
              <th style="text-align: center;">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfData; ; let i = index">
              <td>{{data?.billCode}}</td>
              <td>{{data?.name}}</td>
              <td>{{data?.total| number}}</td>
              <td>{{data?.payment}}</td>
              <td>{{data?.date|date:'dd/MM/yyyy'}}</td>
              <td>{{data?.address}}</td>
              <td>
                <nz-select *ngIf=" data.status != 'Cancel'; else elseBlock" ngModel="{{data.status}}"
                  (ngModelChange)="changeStatus($event,data)">
                  <nz-option nzValue="Process" nzLabel="Đang xử lý"></nz-option>
                  <nz-option nzValue="Delivery" nzLabel="Đang giao hàng"></nz-option>
                  <nz-option nzValue="Delivered" nzLabel="Đã giao hàng"></nz-option>
                </nz-select>
                <ng-template #elseBlock>
                  <p class="red">Đơn hàng đã hủy</p>
                </ng-template>
              </td>
              <td style="text-align: center;">
                <button (click)="showModal(data.id)" class="btn btn-primary">Xem </button>
                <!-- <nz-divider nzType="vertical"></nz-divider> -->
                <button *ngIf=" data.status != 'Cancel'" (click)="cancelBill(data)" class="btn btn-danger" nzDanger>Hủy
                  đơn</button>
                <!-- <nz-divider nzType="vertical"></nz-divider> -->
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

  <nz-modal [nzStyle]="{ top: '20px',width:'100%' }" [(nzVisible)]="isVisible" nzTitle="Xem chi tiết">
    <ng-container *nzModalContent>
      <div class="m-container" id="print-section">
        <div>
          <h2>Mã đơn: </h2>
          <h2>{{this.billId}}</h2>
        </div>
        <nz-divider nzPlain nzText="Chi tiết"></nz-divider>
        <nz-table nzTemplateMode>
          <thead>
            <tr>
              <th style="text-align: center;">STT</th>
              <th style="text-align: center;">Tên sản phẩm</th>
              <th style="text-align: center;">Giá</th>
              <th style="text-align: center;">Số lượng</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfBillDetail; ; let i = index">
              <td style="text-align: center;">{{i+1}}</td>
              <td style="text-align: center;">{{data?.productDetail?.productName}}</td>
              <td style="text-align: center;">{{data?.productDetail?.productPrice| number}}</td>
              <td style="text-align: center;">{{data?.quantity}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handlePrint()"><i nz-icon nzType="printer"
          nzTheme="outline"></i>&nbsp;In hóa đơn</button>
      <button nz-button nzType="primary" (click)="handleOk()">OK</button>
    </div>
  </nz-modal>


  <modal #myModal>
    <modal-header>
      <h4 *ngIf="action == Action.THEMMOI">Thêm mới hóa đơn</h4>
      <h4 *ngIf="action === Action.CAPNHAT">Cập nhật hóa đơn</h4>
    </modal-header>
    <modal-content>
      <ng-stepper #cdkStepper [linear]="true">
        <cdk-step [stepControl]="stepOne.stepOneForm" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="step-bullet">1</div>
            <div class="step-title">Personal Details <span class="required">*</span></div>
          </ng-template>
          <div #stepOne class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <div class="form-group">
                <label for="danhMuc">Sản phẩm</label>
                <ng-select [items]="lstProductDetail" class="custom-ng-select" bindLabel="productName"
                  [(ngModel)]="productDetail" name="product-detail" [hideSelected]="true">
                </ng-select>
              </div>
              <button class="btn btn-primary" (click)="addProduct()">Thêm sản phẩm</button>
              <div class="form-group">
                <ng-container *ngIf="listOfProductDetail.length">
                  <table class="table animated wow fadeInLeft" data-wow-delay=".5s">
                    <tr>
                      <th class="t-head">Hình ảnh</th>
                      <th class="t-head ">Mặt Hàng</th>
                      <th class="t-head">Giá</th>
                      <th class="t-head">Số Lượng</th>
                      <th class="t-head">Thao tác</th>
                    </tr>
                    <tr *ngFor="let item of listOfProductDetail" class="cross1">
                      <td class="t-data" style="width:  30%;">
                        <ng-image-slider #nav [images]="item?.product?.listImage" [infinite]="true" [autoSlide]="1"
                          slideImage="1" [imageSize]="{width: '100%', height: 10}"></ng-image-slider>
                      </td>
                      <td class="t-data" style="width:  20%;">
                        <h3>
                          {{item.productName}}
                        </h3>
                      </td>
                      <td class="t-data">
                        {{item.productPrice | number}} VNĐ
                      </td>
                      <td class="t-data">
                        <div class="quantity">
                          <div class="quantity-select">
                            <div (click)="minusProduct(item)" class="entry value-minus">&nbsp;</div>
                            <div class="entry value">
                              {{item.quanlityBuy | number}}
                            </div>
                            <div (click)="plusProduct(item)" class="entry value-plus active">&nbsp;</div>
                          </div>
                        </div>
                      </td>
                      <td class="t-data" style="text-align: center;">
                        <i (click)="delProduct(item.id)" class="ni ni-fat-remove text-red"></i>
                      </td>
                    </tr>
                  </table>
                  <div class="">
                    <h5 class="continue">Tổng Cộng Giỏ Hàng</h5>
                    <div class="price-details">
                      <h3>Chi Tiết Giá</h3>
                      <span>Tổng Cộng</span>
                      <span class="total1">
                        Tổng giá VND
                      </span>
                      <span>Giảm giá</span>
                      <span class="total1">{{salePrice | number}} VND</span>
                      <span>Phí vận chuyển</span>
                      <span class="total1">Miễn phí</span>
                      <div class="clearfix"></div>
                    </div>
                    <ul class="total_price">
                      <li class="last_price">
                        <h4>Tổng Cộng</h4>
                      </li>
                      <li class="last_price"><span>
                          {{totalPrice| number}} VNĐ
                        </span></li>
                      <div class="clearfix"></div>
                    </ul>
                    <button class="btn btn-outline-success" cdkStepperNext>Thanh Toán</button>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-1"></div>
            <!-- <div class="button">
              <button class="btn btn-outline-primary" cdkStepperNext>Next</button>
            </div> -->
          </div>
        </cdk-step>
        <cdk-step [stepControl]="stepTwo.stepTwoForm" [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">2</div>
            <div class="step-title">Address</div>
          </ng-template>
          <div #stepTwo class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <form>
                <div class="form-group">
                  <label for="name">Tên khách hàng</label>
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="newBill.name" name="name">
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại</label>
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="newBill.phone" name="phone">
                </div>
                <div class="form-group">
                  <label for="address">Địa chỉ</label>
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="newBill.address" name="address">
                </div>
                <div class="form-group">
                  <label for="payment">Phương thức thanh toán</label>
                  <select name="" id="" class="form-control" [(ngModel)]="newBill.payment" name="payment">
                    <option value="Live">Trực tiếp</option>
                    <option value="Transfer">Chuyển khoản</option>
                  </select>
                </div>
              </form>
              <button (click)="payment()" class="btn btn-outline-success" style="float: right;">Thanh Toán</button>
            </div>
            <div class="col-1">
            </div>
          </div>
        </cdk-step>
        <cdk-step [stepControl]="stepThree.stepThreeForm" [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">3</div>
            <div class="step-title"></div>
          </ng-template>
          <div #stepThree></div>
        </cdk-step>
      </ng-stepper>
    </modal-content>
    <modal-footer>
      <!-- <button class="btn btn-primary" (click)="save()">Lưu</button>
    <button class="btn btn-primary" (click)="closeModal()">close</button> -->
    </modal-footer>
  </modal>