<app-header></app-header>
<app-loader></app-loader>
<router-outlet></router-outlet>
<app-footer></app-footer>
<button type="button" class="btn btn-primary popup-button popup-button" data-toggle="modal"
  data-target="#exampleModalLong">
  <i class="fa fa-handshake-o" aria-hidden="true"></i> So sánh ({{this.totalProduct?this.totalProduct:0}})
</button>

<div class="box_chat">
  <a class="sc w d-sm-none hidden-lg hidden-md hidden-sm" href="https://zalo.me/0372694179" title="Zalo">
    <img src="//bizweb.dktcdn.net/100/408/793/themes/794454/assets/zalochat.png?1677070303038" alt="Zalo">
  </a>
  <a class="sc e d-sm-none hidden-lg hidden-md hidden-sm" href="https://m.me/" title="Messenger">
    <img src="//bizweb.dktcdn.net/100/408/793/themes/794454/assets/messenger.png?1677070303038" alt="Messenger">
  </a>
  <a class="sc w d-none d-lg-block d-xl-block d-md-block hidden-xs" href="https://zalo.me/0372694179" title="Zalo"
    target="_blank">
    <img src="//bizweb.dktcdn.net/100/408/793/themes/794454/assets/zalochat.png?1677070303038" alt="Zalo">
  </a>
  <a class="sc e d-none d-lg-block d-xl-block d-md-block hidden-xs" href="https://m.me/" title="Messenger"
    target="_blank">
    <img src="//bizweb.dktcdn.net/100/408/793/themes/794454/assets/messenger.png?1677070303038" alt="Messenger">
  </a>
  <a class="phone_backtotop" title="Gọi ngay" href="tel:0372694179">
    <i class="fa fa-phone"></i>
  </a>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">SO SÁNH ĐIỆN THOẠI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let item of compare" class="col-6 center">
              <div class="card">
                <!-- <a href="javascript:;" class="deleteProduct" onclick="DeletedProduct(231244)"><i class="icon-deletess"></i></a> -->
                <i (click)="delProduct(item?.id)" class="icon-del" nz-icon nzType="close-circle" nzTheme="outline"
                  [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
                <ng-image-slider #nav [images]="item?.product?.listImage" [infinite]="true" [autoSlide]="1"
                  slideImage="1" [imageSize]="{width: '100%', height: 200}"></ng-image-slider>
                <div class="card-body">
                  <h6 class="card-title">{{item?.productName}}</h6>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p> -->
                </div>
                <h6>Thông số Cấu hình & đặc điểm chi tiết</h6>
                <div class="facts1">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex  align-items-center">
                      <img src="../../assets/img/cpu.png" alt=""> Vi xử lý (CPU) <i class="fa fa-info-circle"
                        aria-hidden="true"></i>
                      <span class="badge badge-primary badge-pill">{{productDetail?.cpu?.cpu}}</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                      <img src="../../assets/img/ram.png" alt=""> RAM <i class="fa fa-info-circle"
                        aria-hidden="true"></i>
                      <span class="badge badge-primary badge-pill">{{item?.ram?.ram}}</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                      <img src="../../assets/img/rom.png" alt=""> Lưu trữ (ROM) <i class="fa fa-info-circle"
                        aria-hidden="true"></i>
                      <span class="badge badge-primary badge-pill">{{item?.rom?.rom}}</span>
                    </li>
                    <li class="list-group-item align-items-center">
                      <img src="../../assets/img/gpu.png" alt=""> Card đồ họa (GPU) <i class="fa fa-info-circle"
                        aria-hidden="true" style="color: blue;"></i>
                      <span class="badge badge-primary badge-pill">{{item?.gpu?.gpu}}</span>
                    </li>
                  </ul>
                </div>
                <!-- <div class="card-body">
                 <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> 
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="compareProuct()">Save changes</button>
      </div>
    </div>
  </div>
</div>